:root {
    /* site colors */
    --cprim: #2B5292;
    --csec: #3A4359;
    --cacc1: #453F32;
    --cacc2r: #EFEFEF;

    /* site fonts */
    --hfont: "Cormorant";
    --pfont: "Open Sans", Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: var(--cprim);
    height: 100px;
}

.header-logo {
    position: absolute;
    top: -122px;
    height: 375px;
}

nav {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    text-align: center;
}

nav a {
    color: white;
    font-size: 1.5em;
    font-family: var(--hfont);
    text-decoration: none;
}

.nav-about {
    grid-column: 4/5;
}

main {
    margin: 80px 80px;
}

#intro {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
}

#portrait {
    width: 80%;
}

p {
    font-family: var(--pfont);
    line-height: 1.6em;
}

#about-grid {
    display: grid;
    align-items: center;
}

#about-grid p {
    margin-right: 80px;
}

.img-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 38%;
    float: right;
}

.img-grid img {
    width: 100%;
}

footer {
    background-color: var(--cacc1);
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}

footer p {
    margin-left: 40px;
    color: white;
    font-family: var(--hfont);
    font-size: larger;
}

footer a {
    padding: 20px 80px;
    font-size: larger;
    text-decoration: none;
    color: white;
}